#buttons {
    -fx-min-height: 252;
    -fx-pref-height: 252;
    -fx-max-height: 252;
}

#buttons VBox {
    -fx-padding: 10 3 0 0;
    -fx-spacing: 3;
}

#buttons VBox.last {
    -fx-padding: 10 0 0 0;
}

#buttons VBox > Button {
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-background-color: #393939;
    -fx-background-radius: 10;
    -fx-cursor: HAND;
    -fx-padding: 14 0 14 0;
    -fx-max-width: Infinity;
}

#buttons VBox > Button:hover {
    -fx-background-color: derive(#393939, 30%);
}

#buttons VBox > Button.big {
    -fx-padding: 38 0 38 0;
}

#buttons VBox > Button.orange {
    -fx-background-color: #E66100;
}

#buttons VBox > Button.orange:hover {
    -fx-background-color: derive(#E66100, 30%);
}

#buttons VBox > Button.light-gray {
    -fx-background-color: #505050;
}

#buttons VBox > Button.light-gray:hover {
    -fx-background-color: derive(#505050, 30%);
}