#input {
    -fx-background-color: #353535;
    -fx-background-radius: 0 0 10 10;
    -fx-min-height: 75;
    -fx-max-height: 75;
    -fx-padding: 0 10 0 10;
    -fx-fill-width: true;
}

#input > Label {
    -fx-text-fill: white;
    -fx-min-width: -1;
    -fx-max-width: Infinity;
    -fx-padding: 6 0 6 0;
}

#input .fs18 {
    -fx-font-size: 18;
}

#input .fs16 {
    -fx-font-size: 16;
}