#results-scroll-pane {
    -fx-background-radius: 10 10 0 0;
    -fx-background: #3F3F3F;
    -fx-min-height: 150;
    -fx-fit-to-width: true;
}

#results-scroll-pane > .viewport {
    -fx-background-radius: 10 10 0 0;
}

#results-scroll-pane VBox {
    -fx-min-width: -1;
}

#results-scroll-pane VBox > Label {
    -fx-min-width: -1;
    -fx-max-width: Infinity;
    -fx-text-fill: white;
    -fx-padding: 4 10 4 10;
    -fx-font-size: 16;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #282828;
}

#results-scroll-pane VBox > Label.last {
    -fx-border-style: hidden;
}