ScrollBar:horizontal,
ScrollBar:vertical {
    -fx-background-color: transparent;
}

ScrollBar:horizontal .track,
ScrollBar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


ScrollBar:horizontal .increment-button ,
ScrollBar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

ScrollBar:vertical .increment-button ,
ScrollBar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

 ScrollBar .increment-arrow,
 ScrollBar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

 ScrollBar:vertical .increment-arrow,
 ScrollBar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

ScrollBar:horizontal .thumb,
ScrollBar:vertical .thumb {
    -fx-background-color: derive(#505050, 30%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

ScrollBar:horizontal .thumb:hover,
ScrollBar:vertical .thumb:hover {
    -fx-background-color: #E66100;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}