#text Label {
    -fx-text-fill: white;
    -fx-font-size: 14;
}

#text Label.fs18 {
    -fx-font-size: 20;
}

#text Label.fw600 {
    -fx-font-weight: 700;
}

#text Label.pb10 {
    -fx-padding: 0 0 10 0;
}